:root
    { 
          --mainColor:white;
          --alternativeColor:black;
    }
    body
    {
        font-family: Arial;
        overflow: hidden;
        background-color: var(--mainColor);
        text-align: center;
    }
    span
    {
          background-color: rgb(221, 220, 217);
        width: 2vw;
        height: 4vh;
        display: inline-flex;
          justify-content: center;
    align-items: center;
 box-shadow: 1px 2px 2px 1px black;
        border: 1px solid var(--alternativeColor);
        text-align: center;
        user-select: none;
        cursor: pointer;
        border-radius: 10px;
        color: var(--alternativeColor);
        margin: 2px;
        padding: 2px;
        font-size: 12px;
        font-weight: bold;
    }
    span:hover::before
    {
         content: attr(mytitle);
         position: absolute;
         background-color: crimson;
         margin-top: 70px;
         margin-left: 15px;
         border-radius: 10px;
         padding: 5px;
         width: 7vw;
    }
    span:hover::after
    {
        content: '';
        position: absolute;
        width: 3px;
        height: 4vh;
        background-color: crimson;
        rotate: -26deg;
        margin-top: 20px;
    }
 .resultNumber{
     
        transition: transform 0.7s, width 1s, height 1s,background-color 1s, font-size 1s;
        transform: rotate(360deg);
           background-color:crimson;
           width: 2.7vw;
        height: 5.5vh;
        font-size: 1.3vw;
    }

    h1{
        font-family: Arial;
           text-align: center;
         color: var(--alternativeColor);
         font-weight: bold;
         font-size: 3vw;
           text-shadow: 1px 2px 2px var(--alternativeColor);
    
    }

    button{
        text-align: center;
         display: inline-block;
  text-decoration: none;
      background-color: green;;
 padding: 8px 22px;
   margin: 4px 2px;
     opacity: 0.7;
     transition: 0.3s;
            cursor: pointer;
            border: 1px solid var(--alternativeColor);
        border-radius: 5px;
        color: var(--alternativeColor);
        font-size: 1vw;
        font-weight: bold;
    }
  
    button:hover{
        opacity: 1;
    }
p{

     font-weight: bold;
     color: crimson; 
     font-size: 1vw;
}


@media only screen and (min-width: 320px) and ( max-width: 620px){
    h1{
        font-size: 30px;
    }
    button{
        padding: 4px 11px;
   margin: 2px 1px;
   font-size: 2.5vw;
    }
    p{
        font-size: 10px;
    }
    span{
        width: 15px;
        height: 15px;
        font-size: 10px;
   
        margin: 1px;
    }
    .resultNumber{
             width: 20px;
        height:20px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px){
      h1{
        font-size: 20px;
    }
    button{
        padding: 4px 11px;
   margin: 2px 1px;
   font-size: 3vw;
    }
    p{
        font-size: 10px;
    }
    span{
        width: 14px;
        height: 14px;
        font-size: 8px;
   
        margin: 1px;
    }
     .resultNumber{
             width: 15px;
        height:15px;
        font-size: 10px;
    }
} 

